body{
    font-family: 'Sofia', cursive;

}
h1{
    font-size: 50px;
}
.highlight-color{
    color: deepskyblue;
}
.half-portfolio{
    width: 40%;
    float: left;
    padding-left: 4%;
    text-align: justify;
    margin-left: 4%;
}
.half-portfolio img{
    width: 100%;
}